body {
  background-color: darkred;
  text-align: center;
  font-family: Tahoma, Verdana, sans-serif;
  color: black;
}
#line {
    background-color: black;
    border: none;
    padding: 4px;
}

header {
    color: black;
    text-align: left;
    font-size: 33px;
    
}

#counter {
    font-size: 100px;
    padding: 30px;
   
}

.cool {
    background-color: black;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    width: 500px;
}

h1 {
    font-size: 100px;
}


h2 {
  font-size: 38px;
}

p {
  font-size: 18px;
}

.buttons {
  display: inline-block;
  background-color: white;
  border: none;
  color: black;
  padding: 12px 42px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 0.2s;
}



.buttons:hover {
  background-color: black;
  color: white;
}
